 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Raleway', 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}



/* Your code starts here! */

/* GENERAL SETTINGS */
body {
	width: 876px;
	margin: 0 auto;
}
#main-nav {
	background-color: #eeeeee;
	height: 100px;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
}
#main-nav nav {
	display: inline-block;
	margin-left: -20px;
	margin-top: 30px;
}
#main-nav nav a {
	border-bottom: 1px solid #eeeeee;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	margin: auto 20px;
	padding: 10px;
	text-decoration: none;
	vertical-align: middle;
	transition:
		background-color .25s ease-in-out,
		border-bottom .25s ease-in-out,
		color .25s ease-in-out;
}
#main-nav #active-page {
	border-bottom: 1px solid #bbbbbb;
	color: #222222;
}
#main-nav nav a:hover {
	background-color: #ffffff;
	border-bottom: 1px solid #bbbbbb;
	color: #222222;
}
.logo {
	display: inline-block;
	margin-left: 90px;
	vertical-align: middle;
}
footer {
	font-size: 14px;
	margin-bottom: 80px;
	text-align: center;
}

/* INDEX PAGE FORMATTING */
/* <== Header ==> */
#index-header {
	border-bottom: 1px solid black;
	margin-top: 150px;
	padding-bottom: 50px;
	width: 100%;
}
#index-header div {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 49%;
}
#index-header div h1 {
	font-size: 72px;
}
#index-header div button {
	background: white;
	border: 1px solid black;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
	padding: 5px 40px;
	transition:
		background .25s ease-in-out,
		padding .25s ease-in-out;
}
#index-header div button:hover {
	background: #dddddd;
	padding: 5px 55px; 
}
#index-header img {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}
/* <== Content ==> */
#index-content {
	border-bottom: 1px solid black;
}
#index-content div section {
	display: inline-block;
	margin: 40px 0;
}
#index-content div section h2 {
	text-transform: uppercase;
}
#index-content #section-one section {
	width: 435px;
}
#index-content #section-two section {
	width: 289px;
}
/* <== Contact ==> */
#contact-container {
	margin: 40px 0;
}

/* SERVICE PAGE STYLING */
/* <== Header ==> */
#services-header {
	margin: 100px 0 50px 0;
	padding: 50px 0;
	border-bottom: 1px solid black;
}
#services-header section {
	margin-top: 50px;
}
#services-header section h1 {
	font-size: 32px;
}
/* <== Content ==> */
#services-content {
	border-bottom: 1px solid black;
	margin-bottom: 50px;
}
#services-content div {
	background-color: #eeeeee;
	padding: 50px;
	margin: 50px 0;
	width: 100%;
	vertical-align: middle;
	position: relative;
}
#services-content div .image-wrap {
	width: 33%;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
}
#services-content div:nth-child(odd) .image-wrap {
	margin: 0;	
}
#services-content div:nth-child(even) .image-wrap {
	margin: 0 0 0 56%;
}
#services-content div .content-wrap {
	width: 60%;
}
#services-content div:nth-child(odd) .content-wrap {
	margin: 0 0 0 40%;
}
#services-content div:nth-child(even) .content-wrap {
	margin: 0;
}
#services-one .image-wrap {
	background: #bbbbbb url(../img/screwdriver.jpg) no-repeat center;
	background-size: cover;
}
#services-two .image-wrap {
	background: #bbbbbb url(../img/screwdriver.jpg) no-repeat center;
	background-size: cover;
}
#services-three .image-wrap {
	background: #bbbbbb url(../img/screwdriver.jpg) no-repeat center;
	background-size: cover;
}
#services-four .image-wrap {
	background: #bbbbbb url(../img/screwdriver.jpg) no-repeat center;
	background-size: cover;
}
#services-five .image-wrap {
	background: #bbbbbb url(../img/screwdriver.jpg) no-repeat center;
	background-size: cover;
}
#services-six .image-wrap {
	background: #bbbbbb url(../img/screwdriver.jpg) no-repeat center;
	background-size: cover;
}
/* <== Facts ==> */
#services-facts {
	margin-bottom: 50px;
	
}
#services-facts section{
	display: inline-block;
	vertical-align: top;
	width: 45%;
}
#services-facts section h2 {
	margin-bottom: 25px;
}
#services-facts section ul {
	list-style: square;
	list-style-position: inside;
	padding-top: 25px;
}
#services-facts section ul li {
	margin: 10px 0;
}
#services-facts img {
	display: inline-block;
	width: 45%;
	margin-left: 9%;
}